/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: normal;
    color: $text-color;
    background-color: $background-color;
}



/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: calc(var(--spacing-unit) / 2);
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: var(--spacing-unit);
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-colour;
    border-left: 4px solid $grey-colour-light;
    padding-left: calc(var(--spacing-unit) / 2);
    font-size: 1.8rem;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 1.5rem;
    border: 1px solid $grey-colour-light;
    border-radius: 0.3rem;
    background-color: #eef;
}

code {
    padding: 0.1rem 0.5rem;
}

pre {
    padding: 0.8rem 1.2rem;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    --width: 80rem;
    // warning: minification will remove the whitespace and break the
    // `calc`s
    max-width: calc(var(--width) - (var(--spacing-unit) * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing-unit);
    padding-left: var(--spacing-unit);
    @extend %clearfix;

    @media screen and (max-width: 50em) {
        max-width: calc(var(--width) - var(--spacing-unit));
        padding-right: calc(var(--spacing-unit) / 2);
        padding-left: calc(var(--spacing-unit) / 2);
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Text styling
 */
strong, b {
  font-weight: bold;
}
