html {
  --spacing-unit: 3rem;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-colour-dark;
    border-bottom: 1px solid $grey-colour-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 6.4rem;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-colour-dark;
    }
}


/**
 * Site footer
 */
body > footer {
    border-top: 1px solid $grey-colour-light;
    padding: var(--spacing-unit) 0;
    margin-top: var(--spacing-unit);
}


/**
 * Post list
 */

.past-issues {
    margin-top: 2rem;

    li.nav-header h2 {
        border-bottom: 1px solid $grey-colour-light;
    }

    li {
        line-height: 1.8;
    }
}

.time-prefix {
    font-family: "Fira Mono", monospace;
}

.post-title {
    font-size: 2rem;
}


/**
 * Page content
 */
.page-content {
    padding-top: var(--spacing-unit);
}

.page-heading {
    font-size: 2rem;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: var(--spacing-unit);
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-colour;
}

.post-link {
    display: block;
    font-size: 2.4rem;
}



/**
 * Posts
 */

.post {
    margin-bottom: 3.2rem;
    border-bottom: 1px solid $grey-colour-light;
    padding: 2.4rem;
    border-radius: 0.8rem;
}

.post-header {
    margin-bottom: var(--spacing-unit);
}

.post-content {
    margin-bottom: var(--spacing-unit);

    h1, h2, h3, h4 {
        font-weight: bold;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.6rem;
    }
}

.post-neighbors {
    --arrow-margin: 0.6rem;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    &::after {
        content: " ";
        display: block;
        clear: both;
    }

    .neighbor {
        display: inline-flex;
        align-items: center;
        line-height: 1.25;
        color: $grey-colour-dark;
        &:hover {
            text-decoration: none;
            .neighbor-title {
                text-decoration: underline;
            }
        }

        &.prev-article {
            float: left;
            .neighbor-arrow {
                margin-right: var(--arrow-margin);
            }
        }
        &.next-article {
            float: right;
            text-align: right;
            .neighbor-arrow {
                margin-left: var(--arrow-margin);
            }
        }

        .neighbor-arrow {
            font-size: 2.4rem;
            display: inline-block;
        }
        .neighbor-content {
            display: inline-block;

            .neighbor-label {
                display: block;
            }
            .neighbor-title {
                color: $brand-color;
            }
        }
    }
}

blockquote p {
  white-space: pre-line;
}

.emoji {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    border: 0 none;
}

/**
 * For honeypot
 */
.out-of-view-input {
  position: absolute;
  left: -5000px;
}
